.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444f6c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* Button Mode */
.button--light {
  background-color: #ffffff;
  color: #444f6c;
}

/* Button Mode */
.button--dark {
  background-color: #444f6c;
  color: #9da7b9;
}

/* Button Size */
.button--small {
  width: 150px;
}

/* Button Size */
.button--medium {
  width: 200px;
  font-weight: bold;
}

/* Button Size */
.button--large {
  width: 250px;
  font-weight: bolder;
}
